//- Layout Panel 
.layout-panel-wrap#layout-panel-wrap
	.layout-panel
		button.layout-panel-toggle(data-custom-toggle='#layout-panel-wrap'): span

		.layout-panel-content 
			p.layout-panel-title Choose Color Scheme
			.theme-switcher-group
				button.theme-switcher-group-item(data-theme-name='default') Default
				button.theme-switcher-group-item(data-theme-name='style-1') Style 1
				button.theme-switcher-group-item(data-theme-name='style-2') Style 2
				button.theme-switcher-group-item(data-theme-name='style-3') Style 3
				button.theme-switcher-group-item(data-theme-name='style-4') Style 4
				button.theme-switcher-group-item(data-theme-name='style-5') Style 5
